# Ignore Maven and Gradle build directories
build/

# Ignore IDE-related files
*.iml
.idea/
*.log
*.git
*.gitignore

# Ignore Dockerfile and docker-compose.yaml in case you use them
# Dockerfile
# docker-compose.yml

# Ignore node_modules or any large development directories
node_modules/
